<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Käbbel</title>
		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/crowstyle.css">

	</head>
	<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h4>Käbbel</h4>
				<p>En torr käbblig jävla bot<p>

				<h5>Commandon</h5>
				<ul>
					<li><strong>signup raid <i>raidnamn</i></strong> - signar upp dig på raiden</li>
					<li><strong>unsign raid <i>raidnamn</i></strong> - tar bort dig från raiden</li>
					<li><strong>create raid <i>raidnamn</i></strong> - skapar en raid med det namnet</li>
					<li><strong>remove raid <i>raidnamn</i></strong> - tar bort en raid med det namnet</li>
					<li><strong>info raid <i>raidnamn</i></strong> - listar vilka som är signade på den raiden</li>
					<li><strong>list all raids</strong> - listar alla raids som är reggade</li>
				</ul>
			</div>
		</div>
	</div>
	</body>
</html>